@model IEnumerable<WebApplication1.Models.Employee>

@using WebApplication1.Models

@{
    ViewBag.Title = "Employee List";
}

<div style="font-family:Arial">
<h2>Employee List</h2>
    <ul>
        @foreach(Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name,"Details", new { id = employee.Employeeid})
            </li>
        }
    </ul>

</div>